* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: 'Glory', sans-serif;
}

/* input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 300px;
    height: 5px;
    padding: 0;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  } */
  
  
  /*Chrome thumb*/
  /* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 5px;
    height: 16px;
    width: 16px;
    border-radius: 5px;
    background: #e7e7e7;
    border: 1px solid #c5c5c5;
  } */